<%- include('partials/header') %>    
<h1>Welcome!</h1>
<a href="/tacos"><img src="images/tacos.jpg"></a>
<a href="/piroshkis"><img src="images/piroshkis.jpg"></a>
<%- include('partials/footer') %>    